<div class="footer-main">
  <div class="icons">
    <span>Follow me on:</span>
    <a
      mat-raised-button
      color="primary"
      href="https://www.facebook.com/KalaynaPrice"
    >
      <mat-icon svgIcon="facebook-box"></mat-icon>
      Facebook
    </a>
    <a mat-raised-button color="accent" href="http://twitter.com/Kalayna">
      <mat-icon svgIcon="twitter"></mat-icon>
      Twitter
    </a>
    <a
      mat-raised-button
      color="warn"
      href="http://www.goodreads.com/author/show/2803627.Kalayna_Price"
    >
      <mat-icon svgIcon="book"></mat-icon>
      Goodreads
    </a>
    <a mat-raised-button href="http://www.youtube.com/user/KalaynaPrice">
      <mat-icon svgIcon="youtube"></mat-icon>
      Youtube
    </a>
  </div>
</div>
