<div class="footer">
  <div class="icons">
    <p class="iconLabel">Follow me on:</p>
    <a
      mat-mini-fab
      matTooltip="Facebook"
      color="primary"
      href="https://www.facebook.com/KalaynaPrice"
    >
      <mat-icon svgIcon="facebook-box"></mat-icon>
      <!-- <span class="iconTitle">Facebook</span> -->
    </a>
    <a
      mat-mini-fab
      matTooltip="Twitter"
      color="primary"
      href="http://twitter.com/Kalayna"
    >
      <mat-icon svgIcon="twitter"></mat-icon>
      <!-- <span class="iconTitle">Twitter</span> -->
    </a>
    <a
      mat-mini-fab
      matTooltip="Goodreads"
      color="primary"
      href="http://www.goodreads.com/author/show/2803627.Kalayna_Price"
    >
      <mat-icon svgIcon="book"></mat-icon>
      <!-- <span class="iconTitle">Goodreads</span> -->
    </a>
    <a
      mat-mini-fab
      matTooltip="Youtube"
      color="primary"
      href="http://www.youtube.com/user/KalaynaPrice"
    >
      <mat-icon svgIcon="youtube"></mat-icon>
      <!-- <span class="iconTitle">Youtube</span> -->
    </a>
  </div>
</div>
