<mat-chip routerLink="/books"><mat-icon>reply</mat-icon>Back</mat-chip>

<div *ngIf="myBook">
  <div class="grid-1-center">
    <h2 class="book-title ">{{ myBook.name }}</h2>
    <img class="book-img" [src]="myBook.imagePath" [alt]="myBook.name" />
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Description">
      <div class="book-detail">
        <h3>{{ myBook.name }}</h3>
        <p>Book {{ myBook.bookNumber }}</p>
        <p
          class="text"
          *ngFor="let item of myBook.description"
          [innerHTML]="item"
        ></p>
        <div class="publishInfo">
          <p *ngIf="myBook.genre">Genre: {{ myBook.genre }}</p>
          <p *ngIf="myBook.publisher">Publisher: {{ myBook.publisher }}</p>
          <p *ngIf="myBook.isbn">ISBN: {{ myBook.isbn }}</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="myBook.firstChapter" label="First Chapter">
      <div id="book-chapter">
        <p
          class="text"
          *ngFor="let item of myBook.firstChapter"
          [innerHTML]="item"
        ></p>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="card-footer">
    <div></div>
    <div class="link-box">
      <p>Available at:</p>
      <p *ngFor="let item of myBook.stores">
        <a mat-raised-button color="accent" [href]="item.link" target="_blank">
          {{ item.name }}
        </a>
      </p>
    </div>
    <div class="link-box">
      <p>Audio Edition:</p>
      <p *ngFor="let item of myBook.audio">
        <a mat-raised-button color="accent" [href]="item.link" target="_blank">
          {{ item.name }}
        </a>
      </p>
    </div>
    <div class="link-box" *ngIf="myBook.foreign">
      <p>Overseas at:</p>
      <p *ngFor="let item of myBook.foreign">
        <a mat-raised-button color="accent" [href]="item.link" target="_blank">
          {{ item.name }}
        </a>
      </p>
    </div>
  </div>
</div>
