<mat-chip routerLink="/books"><mat-icon>reply</mat-icon>Back</mat-chip>

<div *ngIf="myBook" class="book-item">
  <div class="book-item">
    <h2 class="book-title img-rounded">{{ myBook.name }}</h2>
    <img class="book-img" [src]="myBook.imagePath" [alt]="myBook.name" />
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Description">
      <div class="book-detail">
        <h4>{{ myBook.name }}</h4>
        <p
          class="text"
          *ngFor="let item of myBook.description"
          [innerHTML]="item"
        ></p>
      </div>
    </mat-tab>
    <mat-tab *ngIf="myBook.firstChapter" label="First Chapter">
      <div class="book-chapters">
        <p
          class="text"
          *ngFor="let item of myBook.firstChapter"
          [innerHTML]="item"
        ></p>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="card-footer">
    <div class="link-box">
      <p>Available at:</p>
      <p *ngFor="let item of myBook.stores">
        <a [href]="item.link">
          {{ item.name }}
        </a>
      </p>
    </div>
    <div class="link-box">
      <p>Audio Edition:</p>
      <p *ngFor="let item of myBook.audio">
        <a [href]="item.link">
          {{ item.name }}
        </a>
      </p>
    </div>
    <div class="link-box" *ngIf="myBook.foreign">
      <p>Overseas at:</p>
      <p *ngFor="let item of myBook.foreign">
        <a [href]="item.link">
          {{ item.name }}
        </a>
      </p>
    </div>
  </div>
</div>
