.book-item {
  display: grid;
  grid-template-columns: 1fr;
  //justify-items: stretch;
}

.book-title {
  text-align: center;
}

.book-chapters {
  margin-left: 10%;
}

.book-detail {
  text-align: center;
  display: grid;
  justify-items: center;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card-footer > div {
  display: flex;
  flex-direction: column;
}

.link-box > p {
  // border-style: ridge;
  font-weight: 800;
}

.link-box > p > a {
  min-width: 150px;
}

@media (max-width: 700px) {
  .card-footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.mat-tab-group {
  font-family: inherit;
}
