#book-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-holder {
  padding: 10px 30px 5px 30px;
  display: grid;
  justify-items: center;
}

.book-holder p {
  text-align: center;
}
