.main-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto 50px 8fr 1fr;
    grid-template-areas: 
      "header header header"
      "menu menu menu"
      "content content sidebar-right"
      "footer footer footer";
  }

  @media(max-width: 700px){
    .main-container{
      grid-template-columns: 1fr;
      grid-template-rows: auto 8fr 1fr 1fr;
      grid-template-areas: 
      "header"
      "content"
      "sidebar-right"
      "footer";
    }
    .item-menu{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10vh;
      background-color: gray;
    }
  }

  .item-header{
    grid-area: header;
    justify-self: center;
    max-width: 100%;
  }
  .item-menu{
    grid-area: menu;

  }
  .item-main-body{
    grid-area: content;
  }
  .item-footer{
    grid-area: footer;
    background: green;
  }
  .item-sidebar-right{
    grid-area: sidebar-right;
    background: rgb(199, 15, 15);
  }
