@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-light-blue, 500, 700, 900);
$accent: mat-palette($mat-orange, A200, 700, 900);
$warn: mat-palette($mat-orange);

$my-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($my-theme);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.mat-tab-group {
  font-family: inherit;
  color: inherit;
}

.bg-primary-d {
  background-color: mat-color($primary, darker);
}
.bg-primary {
  background-color: mat-color($primary);
}
.bg-primary-l {
  background-color: mat-color($primary, lighter);
}
.bg-accent-d {
  background-color: mat-color($accent, darker);
}
.bg-accent {
  background-color: mat-color($accent);
}
.bg-accent-l {
  background-color: mat-color($accent, lighter);
}
.bg-warn {
  background-color: mat-color($warn);
}

.font-primary {
  color: mat-color($primary);
}
.font-accent {
  color: mat-color($accent);
}
.font-warn {
  color: mat-color($warn);
}

.border-primary-d {
  border-color: mat-color($primary, darker);
}

p {
  max-width: 80%;
}

.book-img {
  width: 100%;
  max-width: 200px;
  justify-self: center;
}

.grid-1-center {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
