<div class="home">
  <h2>New Book released on April 2nd 2019</h2>
  <h1>Grave Destiny</h1>
  <h4>Alex Craft book six</h4>
  <img
    class="book-img"
    src="assets/Images/GraveDestiny.jpg"
    alt="Grave Destiny"
    [routerLink]="['/books/detail', { name: 'Grave Destiny' }]"
  />

  <p>
    The dead tell no tales, unless they have grave witch Alex Craft to speak for
    them. When a paranormal war threatens, Alex's unique abilities might be the
    only thing that can stop our world from being changed forever.
  </p>
  <p>
    Read the first chapter
    <a
      alt="Grave Destiny"
      [routerLink]="['/books/detail', { name: 'Grave Destiny' }]"
    >
      Here</a
    >
  </p>
  <a
    mat-raised-button
    color="accent"
    href="https://amzn.to/2TmjSSo"
    target="_blank"
    >Order Now!</a
  >
</div>
